
<ul *ngIf="!menu.isChildren" class="nav navbar-nav">
  <li *ngIf="menu.Filhos">
      <a href="" tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">
        {{menu.Nome}} <span class="caret"></span>
      </a>
      
      <montar-menu *ngFor="let filho of menu.Filhos" [menu]="filho" [isChildren]='true'></montar-menu>
  </li>
  
  <li *ngIf="!menu.Filhos">
    <a href="">
      {{menu.Nome}}
    </a>
  </li>
  <!--

  <a href="" *ngIf="!menu.Filhos">
    {{menu.Nome}}
  </a>-->
</ul>
<ul *ngIf="menu.isChildren" class="dropdown-menu multi-level">

    
</ul>