.center {
    width: 50%;
    height: 50%;
    margin-left: -25%; /* metade da largura */
    margin-top: -25%; /* metade da altura */
    position: absolute;
    left: 50%;
    top: 100%;
}

.container{
    padding-top: 75px;
}

a:hover, a:focus{
    text-decoration: none;
}

/* [START] Bootstrap Overrides */
    a{
        font-size: 16px;
        font-weight: bold;
    }

    .navbar-nav {
        margin: 7.5px -15px;
    }

    .navbar-nav > li > .montar-menu > a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    
    /* [START] NAVBAR-DEFAULT */
        .navbar-default .navbar-nav > li > .montar-menu > a {
            color: #777;
        }
        .navbar-default .navbar-nav > li > .montar-menu > a:hover,
        .navbar-default .navbar-nav > li > .montar-menu > a:focus {
            color: #333;
            text-decoration: none;
        }
    /* [END] NAVBAR-DEFAULT */
    
    /* [START] NAVBAR-INVERSE*/
        .navbar-inverse .navbar-nav > li > .montar-menu > a {
            color: #B2D6F9;
        }
        .navbar-inverse .navbar-nav > li > .montar-menu > a:hover,
        .navbar-inverse .navbar-nav > li > .montar-menu > a:focus {
            color: #FFF;
            text-decoration: none;
        }
        .navbar-inverse .navbar-nav > li > .montar-menu > a:focus {
            background-color: #0c7cd5;
        }
    /* [END] NAVBAR-INVERSE*/

    /* [START] NAVBAR-ORANGE */
        .navbar-orange{
            background-color: #FFAE36;
        }
        .navbar-orange .navbar-nav > li > .montar-menu > a {
            color: #FFE0B2;
        }
        .navbar-orange .navbar-nav > li > .montar-menu > a:hover,
        .navbar-orange .navbar-nav > li > .montar-menu > a:focus {
            color: #FFF;
            text-decoration: none;
        }
        .navbar-orange .navbar-nav > li > .montar-menu > a:focus {
            background-color: #FFA219;
            text-decoration: none;
        }
        .navbar-orange a{
            color: #FFE0B2;
            text-decoration: none;
        }
        .navbar-orange .nav > li > a:hover {
            text-decoration: none;
            background-color: transparent;
            color: #FFF;
        }
        .navbar-orange .nav > li > a:focus{
            background-color: #FFA219;
            text-decoration: none;
            color: #FFF;
        }
        .dropdown-menu > li a{
            color: #666666;
        }
        
    /* [END] NAVBAR-ORANGE */
    
    @media (min-width: 768px){
        .navbar-nav > li > .montar-menu > a {
            padding-top: 20px;
            padding-bottom: 15px;
        }
    }

    .nav > li > .montar-menu > a {
        position: relative;
        display: block;
        padding: 22px 15px;
    }

    .dropdown-menu > li > .montar-menu > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        /*line-height: 1.42857143;*/
        color: #666666;
        white-space: nowrap;
    }
    .dropdown-menu > li > .montar-menu > a:hover{
        background-color: #eeeeee;
        color: #141414;
        text-decoration: none;
    }

    /*.dropdown-menu > li > .montar-menu > a:hover,
    .dropdown-menu > li > .montar-menu >  a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    }*/

/* [END] Bootstrap Overrides */
